# ===== Build =====
*.o
*.exe

# ===== Windows basura =====
NUL
Thumbs.db

# ===== Python =====
__pycache__/
*.pyc
venv/

# ===== Logs =====
*.log

# ===== IDEs =====
.vscode/
.idea/

# ===== Flutter =====
.dart_tool/
.build/
build/
libportaudio.dll

# ===== Opcional específico =====
audio_rpi/*.exe
audio_rpi/src/*.o